# ==================
# BACKEND (ASP.NET)
# ==================
**/bin/
**/obj/
**/*.user
**/appsettings.Development.json
**/.vs/
**/*.db
**/*.db-shm
**/*.db-wal

# ==================
# VISUAL STUDIO
# ==================
.vs/
*.suo
*.userosscache
*.sln.docstates

# ==================
# GENERAL
# ==================
.DS_Store
Thumbs.db
*.log

# ==================
# PUBLICACION
# ==================
**/publish/